<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{ root_url }}/">{{ site.title }}</a>
    <ul class="nav">
      <li><a href="{{ root_url }}/pages/howtos">Documents</a></li>
    </ul>
      {% if site.simple_search %}
    <form class="navbar-form" action="{{ site.simple_search }}" method="get">
      <fieldset role="search">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
        <input class="span2" type="text" name="q" results="0" placeholder="Search"/>
      </fieldset>
    </form>
      {% endif %}
    {% include custom/navigation.html %}
  </div>
</div>
